.background-gradient {
  background:  linear-gradient(to bottom,var(--blue-darkness),var(--primary),var(--blue-darkest));
}
.btnTheme {
  padding: 0.40rem;
  position: fixed;
  bottom: 10px;
  right: 0;
}
.back-blue {
  background-color: var(--constrast-blue);
}
/*theme config*/
.t-dark {
  background-color: var(--blue-darkest);
  color: var(--text-default);
  transition: all 0.3s;
}
.t-light {
  background-color: var(--text-default);
  color: #101828;
  transition: all 0.3s;
}
/*fonts config*/
.text1 {
  font-family: var(--font1);
  font-variant: var(--text-default);
}
.text2 {
  font-family: var(--font2);
  font-weight: 600;
}
.text3 {
  font-family: var(--font3);
  font-variant: var(--text-default);
}
