/*FONTS*/
@import url('https://fonts.cdnfonts.com/css/climate-crisis');
@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference');

/*CSS*/
@import './assets/css/header.css';
@import './assets/css/utils.css';
/*Tailwind*/
@import "tailwindcss";

:root {
  --primary: #46909C;
  --blue-darkest: #053D49;
  --azure: #81C3CD;
  --text-default:#F3F4F4;
  --constrast-blue: #005d67;
  /*fonts*/
  --font1: 'Climate Crisis', sans-serif;
  --font2: 'Open Sauce One', sans-serif;
  --font3: 'Glacial Indifference', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvh;
}

