/*CSS*/
@import './assets/css/header.css';
@import './assets/css/utils.css';
/*Tailwind*/
@import "tailwindcss";

:root {
  --blue-ligth: #00b4d8;
  --primary: #0498b8;
  --blue-darkest: #023e8a;
  --blue-darkness: #03045e;
  --text-default:#f1f1f1f1;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvh;
}

