@import "tailwindcss";

:root {
  --blue-ligth: #00b4d8;
  --primary: #0498b8;
  --blue-darkest: #023e8a;
  --blue-darkness: #03045e;
  --text-default:#f1f1f1f1
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
